body {
  background-color: #fcf0c8;
  font-family: "Montserrat", sans-serif;
}
/* Begin Common classes */
.inputf:focus {
  outline: none;
  border-bottom: 4px solid #630a10;
}

.inputf {
  width: 400px;
  height: 25px;
  border: none;
  border-left: 6px solid #630a10;
}

/* btton */
.btn {
  border: none;
  color: white;
  padding: 12px 26px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.tablecontrol {
  width: 500px;
  margin: 15px auto;
  border-collapse: collapse;
  border: 2px solid #630a10;
}
.tablecontrol th,
td {
  border: 2px solid #630a10;
  padding: 5px;
}

.card {
  width: 500px;
  border: 3px solid #630a10;
  border-radius: 12px;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* background color classes */
.bg-color1 {
  background-color: #fcf0c8;
}
.bg-color2 {
  background-color: #630a10;
}
.bg-color3 {
  background-color: #911f27;
}
.bg-color4 {
  background-color: #face7f;
}
/* End background color classes */
/* text color classes */
.color1 {
  color: #630a10;
}
.color2 {
  color: #911f27;
}
.color3 {
  color: #face7f;
}
/* End text color classes */

/* heading classes */
.heading1 {
  font-size: 2.5em;
}

.heading2 {
  font-size: 2em;
}
/* End heading classes */
/* End Common classes */

/* center div */
.center-div {
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

.center{
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

/* Grid system 10 col*/

.container{
    width: 800px;
    margin: 0 auto;
    display: flex;
}
.col1{
    width: 80px;
}
.col2{
    width: 160px;
}
.col3{
    width: 240px;
}
.col4{
    width: 320px;
}
.col5{
    width: 400px;
}
.col6{
    width: 480px;
}
.col7{
    width: 560px;
}
.col8{
    width: 640px;
}
.col9{
    width: 720px;
}
.col10{
    width: 800px;
}

