body {
    box-sizing: border-box;
    background-color: #D4ECDD;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
    max-height: 200vh;
  }
  body::after {
    content: '';
    display: block;
    height: 40px; /* Set same as footer's height */
  }
  /* Begin Common classes */
  
  /* Input type text css */
  .input-text:focus {
    outline: none;
    /* border-bottom: 4px solid #112031; */
  }
  
  .input-text {
    width: 400px;
    height: 30px;
    border: none;
    border-left: 5px solid #112031;
    margin-top: 2px;
    margin-bottom: 12px;
  }
  /* End input type text css */
  .input-date{
    border: solid 3px #112031;
  }
  /* checkbox css */
  /* Customize the label (the input-check) */
  
  .input-check {
      display: inline-block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    /* Hide the browser's default checkbox */
    .input-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
  }  
  
  /* On mouse-over, add a grey background color */
  .input-check:hover input ~ .checkmark {
      background-color: #ccc;
    }
    /* When the checkbox is checked, add a background */
  .input-check input:checked ~ .checkmark {
      background-color: #112031;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Show the checkmark when checked */
  .input-check input:checked ~ .checkmark:after {
      display: block;
    }
    /* Style the checkmark/indicator */
  .input-check .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
  /* End input type checkbox css */
  
  
  /* radion button css */
  
  /* Customize the label (the container) */
  .input-radio {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    /* Hide the browser's default radio button */
  .input-radio input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    /* Create a custom radio button */
  .checkmark-radio {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
  
    /* On mouse-over, add a grey background color */
  .input-radio:hover input ~ .checkmark-radio {
      background-color: #ccc;
    }
    
    /* When the radio button is checked, add a background */
    .input-radio input:checked ~ .checkmark-radio {
      background-color: #112031;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark-radio:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .input-radio input:checked ~ .checkmark-radio:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .input-radio .checkmark-radio:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
    
  
  /* End radio button css */
  /* Input select css */
  .custome-select{
    width: 200px;
    margin: 5px 0;
  }
  .custome-select select{
    width: 400px;
    height: 30px;
    border: 3px solid #112031;
  }
  /* End input select css */
  /* Input textarea */
  .input-txtarea{
    border: 2px solid #112031;
    width: 400px;
  }
  .input-txtarea:focus{
    border: 3px solid #112031;
  }
  /* End input textarea */
  
  /* btton */
  .btn {
    width: auto !important;
    border: none;
    color: white;
    padding: 12px 26px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0 5px 2px;
    cursor: pointer;
    width: 100px;
  }
  .btn-cancel{
    color: #000;
    border: 3px solid #112031;
    padding: 12px 26px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0 5px 2px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
  }
  /* End button css */
  /* Table style*/
  .tablecontrol {
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #112031;
    margin-top: 100px;
  }
  .tablecontrol th,
  td {
    border: 2px solid #112031;
    /* padding: 5px; */
    padding: 3px;
    height: 30px;
  }
  /* End table style */
  /* Card css */
  .card {
    width: auto;
    border: 3px solid #112031;
    border-radius: 12px;
    margin: 10px auto;
    padding: 20px;
  }
  /* End card css */
  /* background color classes */
  .bg-color1 {
    background-color: #D4ECDD;
  }
  .bg-color2 {
    background-color: #112031;
  }
  .bg-color3 {
    background-color: #152D35;
  }
  .bg-color4 {
    background-color: #345B63;
  }
  /* End background color classes */
  /* text color classes */
  .color1 {
    color: #D4ECDD;
  }
  .color2 {
    color: #112031;
  }
  .color3 {
    color: #152D35;
  }
  /* End text color classes */
  
  /* heading classes */
  .heading1 {
    font-size: 2.5em;
  }
  
  .heading2 {
    font-size: 2em;
  }
  /* End heading classes */
  /* End Common classes */
  
  /* center div */
  .center-div {
    width: 800px;
    margin: 20px auto;
  }
  
  .center{
    margin: 5px auto;
    display: inline-block;
  }
  .text-center{
      text-align: center;
  }
  
  /* Grid system 10 col*/
  
  .container{
      width: 800px;
      margin: 0 auto;
  }
  .container::after,
  .row::before, .row:after {
    clear: both;
  }

  .col1{
      width: 80px;
      float: left;
      min-height: 1px;
  }
  .col2{
      width: 160px;
      float: left;
      min-height: 1px;
  }
  .col3{
      width: 240px;
      float: left;
      min-height: 1px;
  }
  .col4{
      width: 320px;
      float: left;
      min-height: 1px;
  }
  .col5{
      width: 400px;
      float: left;
      min-height: 1px;
  }
  .col6{
      width: 480px;
      float: left;
      min-height: 1px;
  }
  .col7{
      width: 560px;
      float: left;
      min-height: 1px;
  }
  .col8{
      width: 640px;
      float: left;
      min-height: 1px;
  }
  .col9{
      width: 720px;
      float: left;
      min-height: 1px;
  }
  .col10{
      width: 800px;
      float: left;
      min-height: 1px;
  }
  /* End grid system */